<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
  <div data-height="100%" data-scrollbar="true" style="overflow: hidden; width: auto; height: 100%;" data-init="true">
    <ul class="nav">
      <li class="nav-profile">
      <div class="image">
        <a href="javascript:;">
          <img src="/images/user.jpg" class="img-circle" alt="User Image">
        </a>
      </div>
      <div class="info">
        {{user.name}}
        <small>Front end developer</small>
      </div>
      </li>
    </ul>

    <ul class="nav">
      <li class="nav-header">Navigation</li>
      <li class="has-sub active" ng-class="{active:$state.includes('app.dashboard')}" ng-if="{{user.type}}===1">
        <a href="#">
          <i class="fa fa-gears"></i>
            <span>Quản lý hệ thống</span>
          <b class="caret pull-right"></b>
        </a>
        <ul class="sub-menu">
          <li><a href="/administrator/listuser">Quản lý người dùng</a></li>
        </ul>
      </li>
      <li class="has-sub" ng-class="{active:$state.includes('app.dashboard')}">
        <a href="#">
          <i class="fa fa-newspaper-o"></i>
            <span>Quản lý dự án</span>
          <b class="caret pull-right"></b>
        </a>
        <ul class="sub-menu">
          <li><a href="/administrator/newspages">Quản lý dự án</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>


