<div class="container">
  <div class="row">
    <div class="col-sm-7">

    </div>
    <div class="col-sm-5">
      <div>
        <strong>CÔNG TY CỔ PHẦN HÓA ĐƠN ĐIỆN TỬ VI NA</strong>
      </div>
      <div>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        41A Nguyễn Phi Khanh, Phường Tân Định, Quận 1, TP HCM
      </div>
      <div>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Tòa Nhà AC, 78 Duy Tân, Cầu Giấy, Hà Nội
      </div>
      <div>
        <i class="fa fa-phone" aria-hidden="true"></i>
        Kinh doanh: 0923 274747 
      </div>
      <div>
        <i class="fa fa-phone" aria-hidden="true"></i>
        Hỗ trợ kỹ thuật: 19006276
      </div>
      <div>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        Email: info@smartvas.vn
      </div>
    </div>
    <div id="clear"></div>
  </div>
  <div id="clear"></div>
</div>
<hr>
<p class="powertitle">© 2018 CÔNG TY CỔ PHẦN HÓA ĐƠN ĐIỆN TỬ VI NA</p>