<div class="nav-destop">
  <div class="col-md-9 col-sm-12">
    <ul class="menu-haili">
      <li>
        <a class="" href="/">Trang chủ</a>
      </li>
      <li>
        <a class="" href="/gioi-thieu">Giới thiệu</a>
      </li>
      <li>
        <a class="" href="/bang-gia">Bảng giá</a>
      </li>
      <li>
        <a class="" href="/tin-tuc">Tin tức</a>
      </li>
      <li>
        <a class="" href="/tinh-nang-1">Tính năng</a>
      </li>
      <li>
        <a class="" href="/hoa-don-mau">Hóa đơn mẫu</a>
      </li>
      <li>
        <a class="" href="/lien-he">Liên hệ</a>
      </li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-12">
    <div class="login">
      <a href="http://ehd.smartvas.vn/Pages/HomePage/Login.aspx">Đăng nhập</a>
    </div>
    <div class="search_invoice">
      <a href="http://ehd.smartvas.vn/HDDT/">Tra cứu hóa đơn</a>
    </div>
  </div>
</div>
<div class="nav-mobile" style="display: none;">
  <label class="navbar-toggle custom1" for="off_canvas">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </label>
<div class="off-canvas">
  <input type="checkbox" id="off_canvas" />
  <div class="cstm-shade">
    <div class="cstm-navi">
      <div class="cstm-navi-content">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active">
            <a href="/">
              Trang chủ
            </a>
          </li>
          <li role="presentation">
            <a href="/gioi-thieu">
              Giới thiệu
            </a>
          </li>
          <li role="presentation">
            <a href="/bang-gia">
              Bảng giá
            </a>
          </li>
          <li role="presentation">
            <a href="/tin-tuc">
              Tin tức
            </a>
          </li>
          <li role="presentation">
            <a href="/tinh-nang-1">
              Tính năng
            </a>
          </li>
          <li role="presentation">
          <a class="" href="/hoa-don-mau">Hóa đơn mẫu</a>
          </li>
          <li role="presentation">
            <a href="/lien-he">
              Liên hệ
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>