<link rel="stylesheet" type="text/css" href="/tp-banner/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/tp-banner/navstylechange.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/tp-banner/settings.css" media="screen" />
<script type="text/javascript" src="/tp-banner/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/tp-banner/jquery.themepunch.revolution.min.js"></script>
<div class="tp-banner-container">
  <div class="tp-banner" >
      <ul>
          <li data-transition="fade" data-slotamount="7" data-masterspeed="500">
            <img src="/images/phan-mem-hoa-don-dien-tu-01.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
          </li>
          <li data-transition="fade" data-slotamount="7" data-masterspeed="500">
            <img src="/images/phan-mem-hoa-don-dien-tu-02.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
          </li>
          <li data-transition="fade" data-slotamount="7" data-masterspeed="500">
            <img src="/images/banner1.png"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
          </li>
          <li data-transition="fade" data-slotamount="7" data-masterspeed="500">
            <img src="/images/banner2.gif"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
          </li>
      </ul>
      <div class="tp-bannertimer"></div>
  </div>
</div>

      <!-- END REVOLUTION SLIDER -->
<script type="text/javascript">
  var revapi;
  jQuery(document).ready(function() {
  revapi = jQuery('.tp-banner').revolution(
    {
      delay:9000,
      startwidth:1600,
      startheight:390,
      hideThumbs:10,
      fullWidth:"on",
      forceFullWidth:"on",
    });
  }); //ready
</script>