<!DOCTYPE html>
<html lang="en" class="skin-blue sidebar-mini wysihtml5-supported">
<head>
	<title>LoginApp</title>
  <base href="/">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/form.css" />
  <link rel="stylesheet" href="/css/ngDialog.css" />

  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery-1.10.2.min.js"></script>
  <script src="/js/respond.min.js"></script>
  <script src="/js/html5shiv.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/ckeditor/ckeditor.js"></script>

  <script src="/app/lib/angular/angular.js"></script>
  <script src="/app/lib/angular/angular-route.js"></script>
  <script src="/app/lib/ngDialog.js"></script>
  <script src="/app/lib/ng-ckeditor.min.js"></script>
  <script src="/app/lib/ocLazyLoad.min.js"></script>
  <script src="/app/lib/angular-file-upload.min.js"></script>
  <script src="/app/angularApp.js" type="text/javascript"></script>
  <script src="/app/angularApp/userController.js" type="text/javascript"></script>
  <script src="/app/angularApp/productdetailController.js" type="text/javascript"></script>
  <script src="/app/angularApp/productController.js" type="text/javascript"></script>
  <script src="/app/angularApp/salesController.js" type="text/javascript"></script>
  <script src="/app/angularApp/orderController.js" type="text/javascript"></script>
  <script src="/app/angularApp/producttypeController.js" type="text/javascript"></script>
  <script src="/app/angularApp/listreportallController.js" type="text/javascript"></script>
  <script src="/app/angularApp/newspagesController.js" type="text/javascript"></script>
  <script src="/app/angularApp/newscatsController.js" type="text/javascript"></script>
    <script src="/app/angularApp/bannercatsController.js" type="text/javascript"></script>
  <script src="/app/angularApp/newscontentsController.js" type="text/javascript"></script>
  <script src="/app/angularApp/bannersController.js" type="text/javascript"></script>
  <script src="/app/angularApp/userService.js" type="text/javascript"></script>
  <script src="/app/angularApp/userDirective.js" type="text/javascript"></script>


  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/css/jquery-ui.min.css" rel="stylesheet" />
  <link href="/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/css/animate.min.css" rel="stylesheet" />
  <link href="/css/style.min.css" rel="stylesheet" />
  <link href="/css/style-responsive.min.css" rel="stylesheet" />
  <link href="/css/default.css" rel="stylesheet" id="theme" />
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <!-- ================== END BASE CSS STYLE ================== -->
    
  <!-- ================== BEGIN BASE JS ================== -->
  <script src="/js/pace.min.js"></script>
  <!-- ================== END BASE JS ================== -->
  
  <!--[if lt IE 9]>
      <script src="assets/crossbrowserjs/excanvas.min.js"></script>
  <![endif]-->
  
  <!-- ================== BEGIN BASE ANGULAR JS ================== -->
    <script src="/js/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/apps.min.js"></script>
 
</head>
<body  ng-app="myApp">
	<div class="wrapper" id="wrapper">
      <header class="header navbar navbar-default navbar-fixed-top ng-scope" id="header">
        {{> header}}
      </header>
      <div class="sidebar ng-scope" ng-class="{ 'sidebar-transparent': setting.layout.pageSidebarTransparent }" id="sidebar">
          {{> adminmenu}}
      </div>
      <div class="content ng-scope" ng-class="{ 'content-full-width': setting.layout.pageContentFullWidth, 'height-full': setting.layout.pageContentFullHeight, 'content-inverse-mode': setting.layout.pageContentInverseMode }" style="min-height: 916px;" id="content">
          {{{body}}}
      </div>
  </div>
      <footer class="footer">
        <p>&copy; 2015 LoginApp, Inc.</p>
      </footer>

  <script src="/js/jquery-1.9.1.min.js"></script>
  <script src="/js/jquery-migrate-1.1.0.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.slimscroll.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>
</body>
<script type="text/javascript">
$(document).ready(function(){
  $('.has-sub>a').click(function(){
    $('.has-sub').removeClass('active');
    $('.has-sub>ul').slideUp('normal');
    $(this).parent().find('ul').slideDown('normal');
    $(this).parent().addClass('active'); 
  });
});
</script>
</html>
