<div>
    <div class="slider ng-scope" id="slider">
          {{> slider}}
     </div>
      <div id="clear"></div>
</div>
<div class="about_us home-aboutus">
	<div class="center">
		<div class="header-about">
			<div class="text-about"> Giới thiệu </div>
			<div class="text-whoiam">
			Chúng tôi
			<span class="red">là ai ?</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<div class="text-congnghe">
					<span class="red">10 Năm kinh nghiệm</span> trong lĩnh vực kế toán &
					<br>
					và kê khai thuế tại Việt Nam
					</div>
					<div>Hiện nay chúng tôi phát triển nhiễu lĩnh vực: 
				</div>
				<div>
					<ul>
						<li>Hóa đơn điện tử</li>
						<li>Phần mềm kế toán</li>
						<li>Chữ ký điện tử</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-7">
				<img src="/images/6.png">
			</div>
			<div id="clear"></div>
		</div>
	</div>
</div>
<div class="prices message_main" id="prices">
    {{> prices}}
</div>
<div class="news">
	<div class="center">
    	{{> news}}
    </div>
</div>
<div class="customers">
	<div class="center">
    	{{> customers}}
    </div>
</div>
