<div class="main_news">
	<div class="news_center">
		<div id="bread">
			<ul>
				<li class="homes"><a href="/">Trang chủ / </a></li>
				<li class="homes"><a href="/{{{contents.seo_url}}}">{{{details.name}}}</a></li>
			</ul>
		</div>
	{{{details.content}}}
	</div>
<div>