<div ng-controller="userController">
	<div class="row" ng-show="DivNewUser">
		<form action="" name="form">
				<div class="form-group">
					<label class="col-md-3 control-label">Họ và tên</label>
					<div class="col-md-9"><input class="form-control"  placeholder="Họ và tên"  ng-model="name" required="true"></div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Username</label>
					<div class="col-md-9"><input class="form-control" type="text" placeholder="Username"  ng-model="username" required="true"></div>
				</div>
				
				<div class="form-group">
					<label class="col-md-3 control-label">Password</label>
					<div class="col-md-9"><input class="form-control" type="password" placeholder="password"  ng-model="password" required="true"></div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label">Nhập lại password</label>
					<div class="col-md-9"><input class="form-control" type="password" placeholder="Nhập lại password"  ng-model="repassword" required="true"></div>
				</div>
				
				<div class="form-group">
					<label class="col-md-3 control-label">Email</label>
					<div class="col-md-9"><input class="form-control"  type="email" placeholder="email"  ng-model="email" required="true"></div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label">Điện thoại</label>
					<div class="col-md-9"><input class="form-control" type="text"  placeholder="Điện thoại" ng-model="phone" required="true"></div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label">Địa chỉ</label>
					<div class="col-md-9"><input class="form-control" type="text" placeholder="Địa chỉ" ng-model="address" required="true"></div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label">Phân quyền</label>
					<div class="col-md-9">
						<select name ="type" class="form-control"  ng-model="usertype" ng-init="usertype='3'">
							<option value ="3">User</option>
							<option value ="2">Moderator</option>
							<option value ="1">Administrator</option>
						</select>
					</div>
				</div>
		</form>
		<div class="panel-body">
			<button class="btn btn-primary m-r-5 m-b-5" ng-click="saveUser()">Lưu</button>
		</div>
	</div>
</div>