<div ng-controller="edituserController">
<section class="row">
	<div class="row" ng-show="DivEditUser">
		<form action="">
				<div class="form-group">
					<label class="col-sm-3 control-label">Họ và tên</label>
					<div class="col-sm-9"><input class="form-control"   ng-model="userinfo.name" required="true"></div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Username</label>
					<div class="col-sm-9"><input class="form-control" type="text"  ng-model="userinfo.username" required="false" readonly="true"></div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Mật khẩu</label>
					<div class="col-sm-9"><input class="form-control" type="text" placeholder="Mật khẩu"  ng-model="password" required="false"></div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Mật khẩu</label>
					<div class="col-sm-9"><input class="form-control" type="text" placeholder="Nhập lại mật khẩu"  ng-model="repassword" required="false"></div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Điện thoại</label>
					<div class="col-sm-9"><input class="form-control" type="text"  placeholder="Điện thoại" ng-model="userinfo.phone" required="true"></div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Email</label>
					<div class="col-sm-9"><input class="form-control"  type="email" placeholder="email"  ng-model="userinfo.email" required="true"></div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Địa chỉ</label>
					<div class="col-sm-9"><input class="form-control" type="text" ng-model="userinfo.address" required="true"></div>
				</div>
				
				

				<div class="form-group">
						<label class="col-sm-3 control-label">Phân quyền</label>
						<div class="col-sm-9">
							<select name ="type" class="form-control"  ng-model="usertype" ng-options="usertypes.id as usertypes.value for usertypes in typeuser">
							</select>
						</div>
				</div>

				<div class="form-group">
						<label class="col-sm-3 control-label">Trạng thái</label>
						<div class="col-sm-9">
							<select name ="type" class="form-control"  ng-model="userstatus" ng-options="usertypes.id as usertypes.value for usertypes in statususer">
							</select>
						</div>
				</div>
		</form>
		<div class="panel-body">
			<button class="btn btn-primary m-r-5 m-b-5" ng-click="saveEditUser()">Lưu</button>
		</div>
	</div>
</section>
</div>