<div ng-controller="userController">
<section class="content-header">
	<h1>Quản lý sản phẩm</h1>
	<ol class="breadcrumb">
		<li><a><i class="fa fa-dashboard"></i>Trang chủ</a></li>
		<li><a></i>Quản lý người dùng</a></li>
	</ol>
</section>

<section class="panel panel-inverse">
	<div class="row">
		<div class="panel-body">
			<button class="btn btn-primary m-r-5 m-b-5" ng-click="openaddUser(0)">Thêm người dùng</button>
		</div>
			<table class="table">
		        <thead>
		            <tr>
		                <th width="25px">#</th>
		                <th>Tên người dùng</th>
		                <th>Username</th>
		                <th>Email</th>
		                <th>Điện thoại</th>
		                <th>Phân quyền</th>
		                <th>Trạng thái</th>
		                <th width="20px"></th>
		                <th width="20px"></th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="album in albumList">
		                <td>{[{$index + 1}]}</td>
		                <td><a href="#" ng-click="openeditUser(album._id)">{[{album.name}]}</a></td>
		                <td><span>{[{album.username}]}</span></td>
		                <td><span>{[{album.email}]}</span></td>
		                <td><span>{[{album.phone}]}</span></td>
		                <td>
		                	<span ng-if="album.type === 1">
						      	Administrator
						     </span>
						     <span ng-if="album.type ===2">
						       Moderator
						     </span>
						     <span ng-if="album.type ===3">
						       User
						     </span>
		                </td>
		                <td>
		                	<span ng-if="album.status===1">
						      	Hoạt động
						     </span>
						     <span ng-if="album.status===0">
						       Khóa
						     </span>
		                </td>
		                <td>
		                    <a href="#" ng-click="openeditUser(album._id)">
		                        <i class="icon-pencil"></i>
		                    </a>
		                </td>
		                <td>
		                	<a ng-if="album._id!=loginuser._id" ng-click="delUser(album._id)" >
		                        <i class="icon-remove-circle"></i>
		                    </a>
		                </td>
		            </tr>
		        </tbody>
    		</table>
    	<div id="example2_paginate" class="dataTables_paginate paging_simple_numbers">
    		<ul class="pagination">
    			<li ng-repeat="item in pagedata">
            		<a href="/administrator/listuser/{[{item}]}">{[{item}]}</a>
        		</li>
    		</ul>
    		</ul>
    	</div>
	</div>
	
</section>
</div>