<div ng-controller="editorderController">
<section class="content">
	<div class="row" ng-show="DivEditOrder">
		<form action="" name="form">
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Ngày tạo</label>
			        <div class="col-sm-10"><input class="form-control" datepicker title="datepicker"  ng-model="create_dateedit" type="text"></div>
				</div>

				<div class="form-group">
						<label class="col-sm-2 control-label">Công ty</label>
						<div class="col-sm-10">
							<select name ="type" class="form-control"  ng-model="company" ng-options="companys as companys.fullname for companys in companybyuser">
							</select>
						</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Địa chỉ nhận</label>
					<div class="col-sm-10">
						<div class="tns-sm-16">
							<input class="form-control" type="text" placeholder="Địa chỉ nhận hàng"  ng-model="userinfo.address">
						</div>
						<div class="col-sm-4">
							<select name ="type" class="form-control"  ng-model="pickup_province" ng-options="provinces as provinces.Name for provinces in alleprovince" required="true"></select>
						</div>
						<div class="tns-sm-6-right">
							<input class="form-control" type="text" placeholder="Điện thoại"  ng-model="userinfo.pickup_phone">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Địa chỉ giao</label>
					<div class="col-sm-10">
						<div class="tns-sm-16">
							<input class="form-control" type="text" placeholder="Địa chỉ giao hàng"  ng-model="userinfo.delivery_address">
						</div>
						<div class="col-sm-4">
							<select name ="type" class="form-control"  ng-model="delivery_province" ng-options="provinces as provinces.Name for provinces in alleprovince" required="true"></select>
						</div>
						<div class="tns-sm-6-right">
							<input class="form-control" type="text" placeholder="Điện thoại"  ng-model="userinfo.delivery_phone">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Loại mặt hàng</label>
					<div class="col-sm-10"><input class="form-control"  placeholder="Tên mặt hàng vận chuyển"  ng-model="userinfo.product_name"></div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<div class="col-sm-4">
							<label class="tns-sm-4  control-label">Khối lượng</label>
							<div class="tns-sm-6"><input class="form-control" type="number" placeholder="Trọng lượng KG"  ng-model="userinfo.mass"></div>
						</div>
						<div class="col-sm-4">
							<label class="tns-sm-4  control-label">Số lượng</label>
							<div class="tns-sm-6"><input class="form-control" type="number" placeholder="Số lượng"  ng-model="userinfo.count"></div>
						</div>
						<div class="col-sm-4">
							<label class="tns-sm-4  control-label">Số khối</label>
							<div class="tns-sm-6"><input class="form-control" type="number" placeholder="Số khối"  ng-model="userinfo.volume"></div>
						</div>
					</div>
				</div>


				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<div class="col-sm-6">
							<label class="tns-sm-4 control-label">Đơn giá</label>
							<div class="tns-sm-4"><input class="form-control" type="number"  ng-model="userinfo.unit_number"></div><div class="col-sm-1"><label class="a-line">/</label></div>
							<div class="tns-sm-4"><input class="form-control" type="text" placeholder="Đơn vị tính"  ng-model="userinfo.unit"></div>
						</div>
						<div class="col-sm-6">
							<label class="tns-sm-4 control-label">Tiền hàng</label>
							<div class="tns-sm-12"><input class="form-control"  type="number" placeholder="Tiền hàng"  ng-model="userinfo.product_price" ng-change="changeeditprice()"></div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Tạm ứng</label>
					<div class="col-sm-10"><input class="form-control"  type="number" placeholder="Tiền tạm ứng"  ng-model="userinfo.advance_price" ></div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<div class="col-sm-4">
							<label class="col-sm-4 control-label">Lấy tận nơi</label>
							<div class="col-sm-6"><input class="form-control"  type="number" placeholder="Phí lấy hàng"  ng-model="userinfo.pickup_price" ng-change="changeeditprice()"></div>
						</div>
						<div class="col-sm-4">
							<label class="col-sm-4 control-label">Giao tận nơi</label>
							<div class="col-sm-6"><input class="form-control"  type="number" placeholder="Phí giao hàng"  ng-model="userinfo.drop_price" ng-change="changeeditprice()"></div>
						</div>
						<div class="col-sm-4">
							<label class="col-sm-4 control-label">Bao phụ phí</label>
							<div class="col-sm-6"><input  type="checkbox"  ng-model="userinfo.surcharge_fee" class="tns_check"  ng-true-value="1" ng-false-value="0" ng-change="changeeditprice()" ng-checked="userinfo.surcharge_fee"></div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Phí vận chuyển</label>
					<div class="col-sm-10"><input class="form-control" type="number"  ng-model="userinfo.transport_price" readonly="true"></div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Tổng thanh toán</label>
					<div class="col-sm-10"><input class="form-control" type="number" ng-model="userinfo.price" readonly="true"></div>
				</div>

				
		</form>

		<div class="panel">
			<button class="btn btn-block btn-primary btn-sm" ng-click="saveEditOrder()">Lưu</button>
		</div>

	</div>
</section>
</div>