<div ng-controller="processorderController">
<section class="content">
	<div class="row" ng-show="DivFinishUser">
		<form action="" name="form">
				<div class="form-group" id="hidden">
					<label class="col-sm-2 control-label">Mã đơn hàng</label>
					<div class="col-sm-10"><input class="form-control"  placeholder="Mã đơn hàng"  ng-model="order_code" required="false" readonly="true"></div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Mã đơn hàng</label>
					<div class="col-sm-10"><input class="form-control"  placeholder="Mã đơn hàng"  ng-model="userinfo.order_code" required="false" readonly="true"></div>
				</div>

				<div class="form-group">
						<label class="col-sm-2 control-label">Công ty</label>
						<div class="col-sm-10">
							<input class="form-control"  placeholder="Mã đơn hàng"  ng-model="userinfo.company_name" required="false" readonly="true">
						</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Địa chỉ nhận</label>
					<div class="col-sm-10">
						<div class="tns-sm-16">
							<input class="form-control" type="text" placeholder="Địa chỉ nhận hàng"  ng-model="userinfo.address" readonly="true">
						</div>
						<div class="col-sm-4">
							<input class="form-control"  placeholder="Mã đơn hàng"  ng-model="userinfo.pickup_province" required="false" readonly="true">
						</div>
						<div class="tns-sm-6-right">
							<input class="form-control" type="text" placeholder="Điện thoại"  ng-model="userinfo.pickup_phone" readonly="true">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Địa chỉ giao</label>
					<div class="col-sm-10">
						<div class="tns-sm-16">
							<input class="form-control" type="text" placeholder="Địa chỉ giao hàng"  ng-model="userinfo.delivery_address" readonly="true">
						</div>
						<div class="col-sm-4">
							<input class="form-control"  placeholder="Mã đơn hàng"  ng-model="userinfo.delivery_province" required="false" readonly="true">
						</div>
						<div class="tns-sm-6-right">
							<input class="form-control" type="text" placeholder="Điện thoại"  ng-model="userinfo.delivery_phone" readonly="true">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Loại mặt hàng</label>
					<div class="col-sm-10"><input class="form-control"  placeholder="Tên mặt hàng vận chuyển"  ng-model="userinfo.product_name"></div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<div class="col-sm-4">
							<label class="tns-sm-4  control-label">Khối lượng</label>
							<div class="tns-sm-6"><input class="form-control" type="text" placeholder="Khối lượng KG"  ng-model="userinfo.mass"></div>
						</div>
						<div class="col-sm-4">
							<label class="tns-sm-4  control-label">Số lượng</label>
							<div class="tns-sm-6"><input class="form-control" type="text" placeholder="Số lượng"  ng-model="userinfo.count"></div>
						</div>
						<div class="col-sm-4">
							<label class="tns-sm-4  control-label">Thể tích</label>
							<div class="tns-sm-6"><input class="form-control" type="text" placeholder="Thể tích"  ng-model="userinfo.volume"></div>
						</div>
					</div>
				</div>


				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<div class="col-sm-6">
							<label class="tns-sm-4 control-label">Đơn giá</label>
							<div class="tns-sm-4"><input class="form-control" type="text"  ng-model="userinfo.unit_number"></div><div class="col-sm-1"><label class="a-line">/</label></div>
							<div class="tns-sm-4"><input class="form-control" type="text" placeholder="Đơn vị tính"  ng-model="userinfo.unit"></div>
						</div>
						<div class="col-sm-6">
							<label class="tns-sm-4 control-label">Tiền hàng</label>
							<div class="tns-sm-12"><input class="form-control"  type="text" placeholder="Tiền hàng"  ng-model="userinfo.product_price" ng-change="changeeditprice()"></div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Tạm ứng</label>
					<div class="col-sm-10"><input class="form-control"  type="text" placeholder="Tiền tạm ứng"  ng-model="userinfo.advance_price" ></div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<div class="col-sm-4">
							<label class="col-sm-4 control-label">Lấy tận nơi</label>
							<div class="col-sm-6"><input class="form-control"  type="text" placeholder="Phí lấy hàng"  ng-model="userinfo.pickup_price" ng-change="changeeditprice()"></div>
						</div>
						<div class="col-sm-4">
							<label class="col-sm-4 control-label">Giao tận nơi</label>
							<div class="col-sm-6"><input class="form-control"  type="text" placeholder="Phí giao hàng"  ng-model="userinfo.drop_price" ng-change="changeeditprice()"></div>
						</div>
						<div class="col-sm-4">
							<label class="col-sm-4 control-label">Bao phụ phí</label>
							<div class="col-sm-6"><input  type="checkbox"  ng-model="surcharge_fee" class="tns_check"  ng-true-value="1" ng-false-value="0" ng-change="changeeditprice()" ng-checked="userinfo.surcharge_fee"></div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Phí vận chuyển</label>
					<div class="col-sm-10"><input class="form-control"  type="text"  ng-model="userinfo.transport_price" readonly="true"></div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Tổng thanh toán</label>
					<div class="col-sm-10"><input class="form-control"  type="text"  ng-model="userinfo.price" readonly="true"></div>
				</div>

				<div class="form-group">
						<label class="col-sm-2 control-label">Chọn nhà xe</label>
						<div class="col-sm-10">
							<input class="form-control"  type="text"  ng-model="userinfo.driver_name" readonly="true">
						</div>
				</div>			

				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<div class="col-sm-6">
							<label class="col-sm-4 control-label">Phí vận chuyển</label>
							<div class="col-sm-6"><input class="form-control"  type="text" placeholder="Phí vận chuyển"  ng-model="userinfo.driver_price"></div>
						</div>
						<div class="col-sm-6">
							<label class="col-sm-4 control-label">Tạm ứng nhà cho xe</label>
							<div class="col-sm-6"><input class="form-control"  type="text" placeholder="Tạm ứng nhà cho xe"  ng-model="userinfo.pair_price"></div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Phụ phí</label>
					<div class="col-sm-10"><input class="form-control"  type="text" placeholder="Phụ phí giao nhận hàng"  ng-model="userinfo.surcharge_price" required="true"></div>
				</div>
			</form>
		<div class="panel">
			<button class="btn btn-block btn-success btn-flat" ng-click="finishOrder()">Hoàn tất đơn hàng</button>
		</div>

	</div>
</section>
</div>