<div ng-controller="orderController">
<section class="content-header">
	<h1>Quản lý đơn hàng</h1>
	<ol class="breadcrumb">
		<li><a><i class="fa fa-dashboard"></i>Trang chủ</a></li>
		<li><a></i>Quản lý đơn hàng</a></li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="panel">
			<button class="btn btn-block btn-primary btn-sm" ng-click="openaddOrder(0)">Thêm đơn hàng</button>
		</div>
			<table class="table">
		        <thead>
		            <tr>
		                <th width="25px">#</th>
		                <th>Mã đơn hàng</th>
		                <th>Công ty</th>
		                <th>Đi từ</th>
		                <th>Đi tới</th>
		                <th>Số lượng</th>
		                <th>Trọng lượng</th>
		                <th>Số khối</th>
		                <th>Đơn vị tính</th>
		                <th>Mặt hàng</th>
		                <th>Phí vận chuyển</th>
		                <th>Trạng thái</th>
		                <th ng-if="loginuser.type===1||loginuser.type===2">Xử lý</th>
		                <th width="20px" ng-if="loginuser.type===1||loginuser.type===3"></th>
		                <th width="20px" ng-if="loginuser.type===1||loginuser.type===3"></th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="album in albumList">
		                <td>{[{($index + 1)+((page-1)*15)}]}</td>
		                <td ng-if="album.status===1"><a href="#" ng-click="openeditUser(album._id)">{[{album.order_code}]}</a></td>
		                <td ng-if="album.status===2"><a href="#"">{[{album.order_code}]}</a></td>
		                <td ng-if="album.status===3"><a href="#"">{[{album.order_code}]}</a></td>
		                <td><span>{[{album.company_name}]}</span></td>
		                <td><span>{[{album.pickup_province}]}</span></td>
		                <td><span>{[{album.delivery_province}]}</span></td>
		                <td><span>{[{album.count}]}</span></td>
		                <td><span>{[{album.mass}]}</span></td>
		                <td><span>{[{album.volume}]}</span></td>

		                <td><span>{[{album.unit}]}</span></td>
		                <td><span>{[{album.product_name}]}</span></td>
		                <td><span>{[{album.transport_price}]} đ</span></td>
		                <td>
		                	<span ng-if="album.status===2" style="color:green">
						      	Đã xử lý
						     </span>
		                	<span ng-if="album.status===1" style="color:red">
						      	Chờ xử lý
						     </span>
						     <span ng-if="album.status===3" style="color:blue">
						       Hoàn tất
						     </span>
		                </td>
		                <td ng-if="loginuser.type===1||loginuser.type===2">
							<a ng-if="album.status===1" href="#" ng-click="openProcessOrder(album._id)"><span class="label label-primary">Xử lý</span></a>
							<a ng-if="album.status===2" href="#" ng-click="openfinishOrder(album._id)"><span class="label label-primary">Xử lý</span></a>
							<a ng-if="album.status===3&&loginuser.type===1" href="#" ng-click="openViewOrder(album._id)"><span class="label label-success">Xem</span></a>
						</td>
		                <td ng-if="loginuser.type===1||loginuser.type===3">
		                    <a  href="#" ng-click="openEditOrder(album._id)">
		                        <i class="icon-pencil"></i>
		                    </a>   
		                </td>
		                <td ng-if="loginuser.type===1||loginuser.type===3">
		                	<a ng-if="album._id!=loginuser._id" ng-click="delUser(album._id)" >
		                        <i class="icon-remove-circle"></i>
		                    </a>
		                </td>
		            </tr>
		        </tbody>
    		</table>
    	<div id="example2_paginate" class="dataTables_paginate paging_simple_numbers">
    		<ul class="pagination">
    			<li ng-repeat="item in pagedata">
            		<a href="/administrator/listorder/{[{item}]}">{[{item}]}</a>
        		</li>
    		</ul>
    	</div>
	</div>
	
</section>
</div>