body {
    background: #efefef;
    color: #333333;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.8em;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    overflow-x: hidden;
    width: 100%
}
.wrapper{width: 100%;}
* {
    outline: medium none;
}
* {
    margin: 0;
    padding: 0
}
.container::after {
    clear: both;
}
#header{
	width: 100%;
	background:#fff;
	clear: both;
	display: block;
    border-bottom: 1px solid #e2e2e2;
    height: 60px;
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
}
#header .logo {
    display: block;
    margin: 0;
    outline: medium none;
    padding: 10px 0 10px;
    text-decoration: none !important;
}
.navition{
    box-shadow: 0 4px 4px #c1c0c1;
    font-size: 12px;
    height: 44px;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 60px;
    z-index: 99;
    left: 0px;
}
#slider{max-height: 390px;overflow: hidden;}
#clear{clear: both;}
.center{max-width: 1170px;margin: auto;}
.about_us{
    background: #fff;
    padding: 20px 0;
}
.header-about {
    border-left: 2px solid #d71920;
    margin-bottom: 25px;
    padding-left: 10px;
}
.header-about {
    border-left: 2px solid #d71920;
    margin-bottom: 25px;
    padding-left: 10px;
}
.header-about .text-whoiam {
    color: #434448;
    font-size: 35px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;
}
.red {
    color: #d71920;
}
.content{margin-top: 101px;}
.col-sm-5 {
    width: 41.6667%;
}
.col-sm-7 {
    width: 58.3333%;
}
.col-sm-5,.col-sm-7,.col-sm-12{float: left;}
.row{
    clear: both;
}
.text-congnghe::before {
    color: #d71920;
    content: "“";
    font-family: Georgia,serif;
    font-size: 40px;
    height: 10px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 12px;
}
.home-aboutus .text-congnghe::after {
    bottom: 6px;
    color: #d71920;
    content: "”";
    font-family: Georgia,serif;
    font-size: 40px;
    height: 10px;
    margin-left: 3px;
    position: absolute;
    width: 12px;
}
.text-congnghe {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    position: relative;
}
.home-aboutus ul li::before {
    color: #d71920;
    content: "•";
    font-size: 24px;
    padding-right: 8px;
    position: relative;
    top: 5px;
}
.home-aboutus ul li {
    color: #3c3c3c;
    list-style: outside none none;
}
.menu-haili {
    height: 44px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.menu-haili li {
    float: left;
    padding: 0;
    list-style: none;
}
.menu-haili li > a {
    color: #707070;
    display: inline-block;
    height: 43px;
    line-height: 43px;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.pull-right {
    float: right;
    margin: 18px 0;
}
#top-links a{
    position: relative;
    padding: 10px 20px;
    background: #ee6c1e;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}
footer {
    background-color: #ee6c1e;
    border-top: 1px solid #ddd;
    color: #fff;
    font-size: 14px;
    padding-top: 30px;
}
.prices{
    background: url("../images/price.png") center top;
    padding: 30px 0;
}
.pricing li{background: #fff}
.message_main .title {
    color: #fff;
    font-size: 40px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

.message_main .subtitle {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
}
.product_category_line {
    margin-top: 15px;
    text-align: center;
    height: 10px;
}
.message_main .product_category_inline {
    border-top: 2px solid #fff;
    color: #fff;
}
footer hr {
    margin-bottom: 10px;
    margin-top: 10px;
}
footer hr {
    border-bottom: 1px solid #e3222a;
    border-top: medium none;
}
.powertitle {
    font-weight: bold;
    text-align: center;
}
.news{
    background: #fff;
    padding: 20px 0;
}
.list_news{
    list-style: none;
    float: left;
    width: 33.33333%;
}
.list_news_content{
    overflow: hidden;
    margin: 0 5px;
}
.list_news_content img{width: 100%;height: 250px;}
.product_category_title {
    color: #d71921;
    font-size: 35px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}
.product_category_line {
    text-align: center;
}
.product_category_inline {
    border-top: 2px solid #d71921;
}
.customers{padding: 30px 0;}
.list_customer{
    padding: 10px 0;
}
.list_customer ul li{
    list-style: none;
    width: 13.6666666%;
    float: left;
    padding: 0 5px;
    background: #fff;
}
.list_customer ul li img{width: 100%;height: 80px}
.hotline{
    color: #d71920;
    margin:0 10px;
    padding: 0px;
    float: left;
    font-size: 15px;
    font-weight: bold;
}
.login{
    float: right;
    background: #ee6c1e;
    padding: 5px 20px;
    color: #fff;
    margin: 5px 7px;
}
.login a{color: #fff;}
.search_invoice{    
    float: right;
    background: #ee6c1e;
    padding: 5px 20px;
    color: #fff;
    margin: 5px 7px;
}
.search_invoice a{color: #fff;}
.main_news{background: #fff}
.news_center{margin: auto;padding-top: 20px;max-width: 1170px;}
#bread{border-bottom: 1px solid #ee6c1e ; margin: 5px 0 20px 0; padding: 5px 0;overflow: hidden;}
#bread ul li{
    list-style: none;
    float: left;
    padding: 5px 2px;

}
#bread ul{padding: 0;}
.cats_content img{
    max-width: 100%;
    height: 90px;
}
.cats_content .col-md-3{padding: 0 15px;}
.cats_content .row{margin: 20px 0;}
.contact{margin: auto;padding: 20px 0;background: #fff;}
.list_contact{margin-left: 30px;}
.list_contact h3{border-bottom: 2px solid #ee6c1e}
a.meanmenu-reveal {
    cursor: pointer;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: 700;
    height: 18px;
    line-height: 18px;
    outline: medium none;
    padding: 15px;
    position: relative;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    top: 0;
    width: 20px;
    z-index: 32;
}
.mean-nav > ul {
    float: left;
    left: 0;
    list-style-type: none;
    margin: 0 15px;
    position: absolute;
    top: 100%;
    z-index: 33;
}
a.meanmenu-reveal span {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 3px;
    margin-top: 3px;
}
.home-aboutus img{max-width: 100%;}
.news_center img{max-width: 100%;}
#thank{display: none;text-align: center;color: #ee6c1e;font-size: 15px;}
.content_page{margin: 10px 0;}
.content_page ul {
    float: right;
}
.content_page ul li {
    float: left;
    list-style: outside none none;
    margin: 0 4px;
}
.content_page ul li a {
    border: 1px solid #ddd;
    padding: 2px 6px;
    position: relative;
}
.sample_invoice{text-align: center;}
.sample_invoice h3{text-transform: uppercase;padding-top: 10px;}
.productcat_title{
    background: #e0e0e0;
    border-bottom: 2px solid #ee6c1e;
    margin: 10px 0;
    padding: 7px 0
}
.productcat_title p{padding: 0 7px;text-transform: uppercase;font-size: 15px;}
.invoice_item{height: 650px;}

















