<div ng-controller="editnewscontentsController"  nv-file-drop="" uploader="uploader">
	<section class="content-header">
		<h1>Thêm trang mới</h1>
		<ol class="breadcrumb">
			<li><a><i class="fa fa-dashboard"></i>Trang chủ</a></li>
			<li><a></i>Thêm trang</a></li>
		</ol>
	</section>
	<section class="panel panel-inverse">
		<div class="row" ng-show="divadd">
			<div class="panel-body">
				<button class="btn btn-primary m-r-5 m-b-5" ng-click="saveeditnewscontent()">Lưu</button>
			</div>
			<form action="">
				<div class="form-group">
					<label class="col-sm-3 control-label">Tên bài viết</label>
					<div class="col-sm-9"><input class="form-control"   ng-model="newpageinfo.detail[0].name" required="true" ng-change="changeurl()"></div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Danh mục</label>
					<div class="col-sm-9">
							<select name ="newscat" class="form-control" ng-model="newscat" ng-options="cats as cats.detail[0].name for cats in newscats" required="true" ></select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Giới thiệu ngắn</label>
					<div class="col-sm-9"><textarea ng-model="newpageinfo.detail[0].desc" class="form-control"></textarea></div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Hình ảnh</label>
					<div class="col-sm-9">


						<div class="col-sm-5">
							<div ng-repeat="item in uploader.queue">
								<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 80 }"></div>
								<strong>{{ item.file.name }}</strong>
								<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
	                                <span class="glyphicon glyphicon-trash"></span> Remove
	                            </button>
							</div>
						</div>
						<div class="col-sm-5 images_edit">
							<img ng-src="/uploads/{[{newpageinfo.image}]}">
						</div>

					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Hình ảnh</label>
					<div class="col-sm-9">
						<input type="file" nv-file-select="" uploader="uploader" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Title</label>
					<div class="col-sm-9"><input class="form-control"   ng-model="newpageinfo.detail[0].title" required="true"></div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Keyword</label>
					<div class="col-sm-9"><input class="form-control"   ng-model="newpageinfo.detail[0].keyword" required="true"></div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Descripttion</label>
					<div class="col-sm-9"><textarea ng-model="newpageinfo.detail[0].description" class="form-control"></textarea></div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Seo URL</label>
					<div class="col-sm-9"><input class="form-control"   ng-model="newpageinfo.seo_url" required="true"></div>
				</div>	
				<div class="form-group">
					<label class="col-sm-3 control-label">Nội dung</label>
					<div class="col-sm-9"></div>
				</div>								
				<div class="text_content">
					<textarea id="editor1" name="editor1" ng-model="content" ck-editor>{{content}}</textarea>
				</div>
			</form>
			<div class="panel-body">
				<button class="btn btn-primary m-r-5 m-b-5" ng-click="saveeditnewscontent()">Lưu</button>
			</div>
			
		</div>
	</section>
</div>
<script>
	CKEDITOR.replace('editor1');
	CKEDITOR.on( 'instanceReady', function( evt ) {
        evt.editor.setData({{content}});
    });
</script>
