<div ng-controller="newscontentsController">
<section class="content-header">
	<h1>Quản lý bài viết</h1>
	<ol class="breadcrumb">
		<li><a><i class="fa fa-dashboard"></i>Trang chủ</a></li>
		<li><a></i>Quản lý trang</a></li>
	</ol>
</section>

<section class="panel panel-inverse">
	<div class="row">
		<div class="panel-body">
			<button class="btn btn-primary m-r-5 m-b-5" ng-click="openaddproducttypes(0)">Thêm bài viết</button>
		</div>
			<table class="table">
		        <thead>
		            <tr>
		                <th width="25px">#</th>
		                <th>Tên bài viết</th>
		                <th>Danh mục</th>
		                <th>Người đăng</th>
		                <th>Ngày đăng</th>
		                <th width="20px"></th>
		                <th width="20px"></th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="album in albumList">
		                <td>{[{$index + 1}]}</td>
		                <td><a href="/administrator/editnewscontents?id={[{album._id}]}">{[{album.detail[0].name}]}</a></td>
		                <td>{[{album.newscat_name}]}</td>
		                <td>{[{album.create_name}]}</td>
		                
		                
		                <td>{[{album.bdatetime}]}</td>
		                <td>
		                    <a href="/administrator/editnewspages?id={[{album._id}]}">
		                        <i class="icon-pencil"></i>
		                    </a>
		                </td>
		                <td>
		                	<a ng-click="delnewscontent(album._id)">
		                        <i class="icon-remove-circle"></i>
		                    </a>
		                </td>
		            </tr>
		        </tbody>
    		</table>
    	<div id="example2_paginate" class="dataTables_paginate paging_simple_numbers">
    		<ul class="pagination">
    		<li ng-repeat="item in pagedata">
            		<a href="/administrator/listdriver/{[{item}]}">{[{item}]}</a>
        		</li>
    		</ul>
    	</div>
	</div>
	
</section>
</div>